<template name="mainNavigationTopItemDisplayMode">
    {{#if gotFeatureSupport 2}}
        <li class="hidden-xs">
            {{> mainNavigationTopItemDisplayModeButton}}
        </li>
    {{/if}}
</template>

<template name="mainNavigationTopItemDisplayModeButton">
    <button title="{{#if isWordcloudActive}}{{_ "navbar-collapse.tooltip.displayList"}}{{else}}{{_ "navbar-collapse.tooltip.displayWordcloud"}}{{/if}}" class="displayModeBtn btn btn-raised btn-default top-navigation-call-to-action-button"
       role="button">
        {{#if isWordcloudActive}}
            {{{getDisplayModeIcons "list"}}}
        {{else}}
            {{{getDisplayModeIcons "wordcloud"}}}
        {{/if}}
    </button>
</template>
