<template name="useCasesItemWorkload">
    {{#if gotWorkload}}
        <tr>
            <td>
                {{_ "useCases.modal.description.workload"}}
                <div class="visible-xs">
                    {{> useCasesItemWorkloadButton}}
                </div>
            </td>
            <td class="hidden-xs">
                {{> useCasesItemWorkloadButton}}
            </td>
        </tr>
    {{/if}}
</template>

<template name="useCasesItemWorkloadButton">
    <button class="btn btn-raised btn-success useCaseGoToWorkload" type="button" data-dismiss="modal"
            aria-hidden="true">{{{getUseCasesIcon "workload"}}}{{_ "useCases.modal.button.workload"}}</button>
</template>
