<template name="filterItemFilterBonus">
    <li class="dropdown cards-filter-element">
        <a href="#" class="dropdown-toggle bonusFilter cards-filter-element" data-toggle="dropdown"
           role="button"
           aria-haspopup="true" aria-expanded="false">
            {{_ "set-list.learnphase"}}
            {{#if hasBonusFilter}}
                <i class="fa fa-filter navigationFilterIcon cards-filter-element"></i>
            {{/if}}
        </a>
        <ul class="dropdown-menu cards-filter-element">
            <li class="cards-filter-element">
                <a href="#" class="noFilterBonus active cards-filter-element" data-id="reset">{{_
                        "set-list.everything"}}</a>
            </li>
            {{#if gotBonusCardsets}}
                <li class="cards-filter-element"><a href="#" class="filterActiveBonus cards-filter-element">
                    {{_ "set-list.activeLearnphase"}}
                    {{#if resultsFilterBonus 0}}
                        <i class="fa fa-filter navigationFilterIcon cards-filter-element"></i>
                    {{/if}}
                </a></li>
            {{/if}}
            {{#if gotFinishedBonusCardsets}}
                <li class="cards-filter-element"><a href="#" class="filterFinishedBonus cards-filter-element">
                    {{_ "set-list.inactiveLearnphase"}}
                    {{#if resultsFilterBonus 1}}
                        <i class="fa fa-filter navigationFilterIcon cards-filter-element"></i>
                    {{/if}}
                </a></li>
            {{/if}}
        </ul>
    </li>
</template>
