<template name="filterIndex">
    {{> showLicense}}
    {{> filterItemSelectCardsetToLearnCallout}}
    <div id="set-list-region">
        {{#if isActiveRoute regex='alldecks|create|allRepetitorien|personalRepetitorien'}}
            {{> cardsetFormAdmin}}
        {{/if}}
        {{#if isActiveRoute regex='alldecks|create'}}
            {{> cardsetDeleteForm}}
            {{> cardsetForm}}
            {{> filterIndexCreate}}
        {{/if}}

        {{#if isActiveRoute regex='repetitorium|allRepetitorien|personalRepetitorien'}}
            {{> cardsetDeleteForm}}
            {{> cardsetForm}}
            {{> filterIndexRepetitorium}}
        {{/if}}

        {{#if isActiveRoute 'learn'}}
            {{> selectModeForm}}
            {{> cardsetsConfirmLearnForm}}
            {{> filterIndexWorkload}}
        {{/if}}

        {{#if isActiveRoute 'shuffle'}}
            {{> cardsetForm}}
            {{> filterIndexShuffle}}
        {{/if}}

        {{#if isActiveRoute 'pool'}}
            {{> cardsetForm}}
            {{> filterIndexPool}}
        {{/if}}

        {{#if isActiveRoute regex='transcriptsPersonal|transcriptsBonus'}}
            {{> filterIndexTranscripts}}
        {{/if}}
    </div>
</template>

<template name="filterIndexPool">
    {{#unless isSelectingCardsetToLearn}}
        <div class="empty-button-placeholder"></div>
    {{/unless}}
    {{#if getDecks 0}}
        {{#if displayWordcloud}}
            {{> wordcloud}}
        {{else}}
            {{#if getDecks 1}}
                {{#each getDecks 2}}
                    {{> filterIndexItemCardset extendContext 'index' @index}}
                {{/each}}
                {{> infiniteScroll}}
            {{else}}
                {{> noFilterResults}}
            {{/if}}
        {{/if}}
    {{else}}
        {{> noResults}}
    {{/if}}
</template>

<template name="filterIndexTranscripts">
    {{> deleteTranscriptForm}}
    <span class="filter-index-buttons empty-button-placeholder">
        {{#if isTranscriptRoute}}
            {{> filterItemCreateTranscriptButton}}
        {{/if}}
    </span>
    {{#if getCards 0}}
        {{#if getCards 1}}
            {{#each getCards 2}}
                {{> filterIndexItemCard extendContext 'index' @index}}
            {{/each}}
            {{> infiniteScroll}}
        {{else}}
            {{> noFilterResults}}
        {{/if}}
    {{else}}
        {{> noResults}}
    {{/if}}
</template>

<template name="filterIndexShuffle">
    {{#if canShuffle}}
        <div class="container" id="set-list-region">
            {{> filterItemShuffleRepetitoriumCallout}}
            {{#if shuffleList 1}}
                {{#each shuffleList 2}}
                    {{#unless isActiveCardset}}
                        {{> filterIndexItemCardset extendContext 'index' @index}}
                    {{/unless}}
                {{/each}}
                {{> infiniteScroll}}
            {{else}}
                {{> noFilterResults}}
            {{/if}}
        </div>
    {{/if}}
</template>

<template name="filterIndexCreate">
    <span class="filter-index-buttons empty-button-placeholder">
        {{#if isActiveRoute 'create'}}
        {{> filterItemCreateCardsetButton}}
        {{> filterItemImportCardsetButton}}
        {{/if}}
    </span>
    {{#if cardsetList 0}}
        {{#if displayWordcloud}}
            {{> wordcloud}}
        {{else}}
            {{#if cardsetList 1}}
                {{#each cardsetList 2}}
                    {{> filterIndexItemCardset extendContext 'index' @index}}
                {{/each}}
                {{> infiniteScroll}}
            {{else}}
                {{> noFilterResults}}
            {{/if}}
        {{/if}}
    {{else}}
        {{> noResults}}
    {{/if}}
</template>

<template name="filterIndexRepetitorium">
    {{#unless isSelectingCardsetToLearn}}
        {{#if isPersonalRepetitorienRoute}}
            <span class="filter-index-buttons empty-button-placeholder">
                {{> filterItemCreateRepetitoriumButton}}
            </span>
        {{else}}
            <div class="empty-button-placeholder"></div>
        {{/if}}
    {{/unless}}
    {{#if cardsetList 0}}
        {{#if displayWordcloud}}
            {{> wordcloud}}
        {{else}}
            {{#if cardsetList 1}}
                {{#each cardsetList 2}}
                    {{> filterIndexItemCardset extendContext 'index' @index}}
                {{/each}}
                {{> infiniteScroll}}
            {{else}}
                {{> noFilterResults}}
            {{/if}}
        {{/if}}
    {{else}}
        {{> noResults}}
    {{/if}}
</template>

<template name="filterIndexWorkload">
    <span class="filter-index-buttons empty-button-placeholder">
        {{> filterItemSelectCardsetButton}}
        {{> filterItemSelectRepetitoriumButton}}
    </span>
    {{#if learnList 0}}
        {{#if learnList 1}}
            {{#each learnList 2}}
                {{> filterIndexItemCardset extendContext 'index' @index}}
            {{/each}}
            {{> infiniteScroll}}
        {{else}}
            {{> noFilterResults}}
        {{/if}}
    {{/if}}
</template>
